/*room 1*/
.room{
    filter:'';
    position: relative;
    z-index: 0;
    background-size: 100% 100%; 
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat; 
    overflow: hidden; 
    margin:  0; 
    padding: 0; 
}
#room1{
    background-image: url(room1/bedroom.png);
}
#room2{
    background-image: url(room2/bathroom.png);
}