/*slot 1 diary*/
#diary{
    width:100%;
    height: 100%;
}
#diarylog{
    font-family: 'Special Elite';
    width: 100%;
    height:100%;
    color:white;
    font-size:2vw;
    overflow-y: scroll;
}