body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;
    width: 100vw;
    margin: 0;
}
#title{
    height: 5vh;
    text-align: center;
}
#bigSquare{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 63vh;
    width: 63vh;
    border: 5px solid black;
    z-index: 1;
}
#pencilSquare{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    bottom: 9.7vh;
    height: 63vh;
    width: 63vh;
    border: 5px solid black;
    opacity: 0.5;
    z-index: 0;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 7vh;
    width: 63vh;
}
.square, .pencilSquare{
    font-size: 4vh;
    display: block;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    height: 7vh;
    width: 7vh;
    padding: 0;
    border: 1px solid black;
    text-align: center;
}
.pencilSquare {
    font-size: 2vh;
}

.button{
    border: 1px solid black;
}