/*fonts*/
@import url(https://fonts.googleapis.com/css2?family=Creepster&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Special+Elite&display=swap);
/*displays*/
@import url(display/rooms/roomtemplate.css);
@import url(display/maintitle/maintitle.css);
@import url(display/intro/intro.css);
@import url(display/puzzletemplate/puzzletemplate.css);
/*inventory & slots*/
@import url(display/inventory/inventory.css);
@import url(display/inventory/diary/diary.css);

/*room 1 puzzles*/
@import url(display/rooms/room1/room2eligibility.css);
@import url(display/rooms/room1/puzzles/wardrobe/wardrobe.css);
@import url(display/rooms/room1/puzzles/mirror/mirror.css);
@import url(display/rooms/room1/puzzles/15num/15num.css);
@import url(display/rooms/room1/puzzles/bed/bed.css);
@import url(display/rooms/room1/puzzles/clock/clock.css);
body{
    height: 100vh;
    width:100vh;
    background-color: black;
    font-family: 'Creepster', cursive;
    position: static;
    margin:  5vh 0 0 0; 
    padding: 0; 
}
#transition{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    font-size: 5vw;
    position:relative;
    z-index: -1;
    height: 100vh;
    width:100vw;
    margin-top: -5vh;
    margin-bottom: -100vh;
    background-color: black;
    opacity: 0;
}
.items{
    height:100%;
    width:100%;
}