/*toilet input*/
#toiletinput{
    position:fixed;
    z-index: 1;
    top: 66vh;
    left: 41vw;
    height: 23vh;
    width: 30vw;
}
.toiletitem{
    position: fixed;
    top: 0vh;
    left: 0vh;
    background-Size: cover;
    background-Position: center;
    width: 10vh;
    height: 10vh;
}
